.search-column{
    background-color: lightsteelblue;
}

.list-group-item {
    border: 0px;
 }

.card-body{
    flex: auto;
}

span.severe{
    padding: 3px;
    background-color: red;
    color: white;
}

span.moderate{
    padding: 3px;
    background-color: yellow;
}

span.favorable{
    padding: 3px;
    background-color: green;
    color: white;
}
